@use "../abstract/" as *;

.thanks {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  block-size: rem(720);
  inline-size: rem(360);
}

.thanks h1 {
  padding: rem(120) rem(60);
  border-radius: 100%;

  color: hsl(0deg, 0%, 100%);
  text-align: center;

  background-color: var(--bright-blue);

  animation: key-padding 4s ease-in-out infinite;
}

.title-circle {
  position: absolute;

  padding: rem(120) rem(120);
  border-radius: 100%;

  background-color: var(--bright-blue);

  animation: key-moving 1s ease forwards;
}

.bubble {
  position: absolute;

  border-radius: 100%;

  background-color: var(--bright-blue);
}

.bubble-1 {
  padding: rem(80);

  animation: key-bubble-moving 5s ease-in-out infinite;
  animation-delay: 400ms;
  inset-block-start: 2%;

  inset-inline-start: 3%;
}

.bubble-2 {
  inset-block-start: 80%;

  inset-inline-start: 50%;

  padding: rem(120);

  animation: key-bubble-moving 3s ease-in-out infinite;
  animation-delay: 400ms;
}

.bubble-3 {
  inset-block-start: 50%;

  inset-inline-start: 90%;

  padding: rem(80);

  animation: key-bubble-moving 2s ease-in-out infinite;
  animation-delay: 400ms;
}

.bubble-4 {
  inset-block-start: -15%;

  inset-inline-start: 65%;

  padding: rem(180);

  animation: key-bubble-moving 7s ease-in-out infinite;
  animation-delay: 400ms;
}

.bubble-5 {
  inset-block-start: 70%;

  inset-inline-start: -30%;

  padding: rem(100);

  animation: key-bubble-moving 4s ease-in-out infinite;
  animation-delay: 400ms;
}
