@use "../abstract" as *;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  font-size: 100%; // for accessibility purpose
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0;
  overflow: hidden;

  background-color: var(--pale-blue);
  block-size: 100vh;
  background-image: url("../../assets/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;

  background-size: 100% rem(500);

  @include breakpoint(large) {
    background-image: url("../../assets/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;

    background-size: 100% rem(400);
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: var(--bright-blue);
  text-decoration: none;

  &:hover {
    color: var(--desaturated-blue);
  }
}

.attribution {
  position: absolute;
  inset-block-end: 3%;
}
